{% extends "bare_bones.html" %}
{% load humanize %}

{% block title %}
    Beranda
{% endblock %}


{% block body %}
    
    {% include "items/tab_menu.html" %}
    
    <table>
        <tr>
            <td>
                <div class="content_table_news">
                    <ul id="holder">
                        {% if news %}
                            {% for item in news %}
                                    <li style="width: 80%; height: 100%">
                                        <a href="{% url news_details item.id %}" style="color: black">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <img src="/mautauaja/display_img/{{ item.picture }}" style="width: 100px; height: 60px;">
                                                    </td>
                                                    <td>{{ item.title|slice:":200" }}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        {{ item.content|slice:":180" }}  ..Read More..
                                                    </td>
                                                </tr>
                                            </table>
                                        </a>
                                        {% if user.is_superuser %}
                                            <a href="{% url edit_news item.id %}"> Edit News</a>
                                        {% endif %}
                                    </li>
                            {% endfor %}
                        {% else %}
                            <div style="color: white; padding: 5px; text-align: center">
                                No News
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </td>
            
            
            <td>
                <table class="content_table">
                    <tr>
                        <td>
                            <div style="color: white">
                                <a style="color: white" href="{% url dashboard %}"> Beranda </a>
                                
                                {% if category_name %}
                                   >> <a href="{% url dashboard %}?main_sub={{ category_name.id }}" style="color: white">{{ category_name }} </a>
                                {% endif %}
                                
                                {% if category_sub %}
                                    >> <a href="{% url dashboard %}?main_sub={{ category_sub.category.id }}" style="color: white">{{ category_sub.category.name }} </a>
                                    >> <a href="{% url dashboard %}?child_subs={{ category_sub.id }}" style="color: white">{{ category_sub.name }} </a>
                                {% endif %}
                                
                                {{ items.name|slice:":50" }}
                            </div>
                    
                            {% for data in msitem %}
                                <div class="thumb">
                                    {% if user.is_superuser %}
                                        <a href={% url edit_items data.id %}>Edit Item</span></a><br>
                                    {% endif %}
                                    
                                    <a href="{% url item_details data.id %}">
                                        <img src="/mautauaja/display_img/{{ data.picture}}" width="150" height="200">
                                    </a><br/>
                                    <span style="font-size: 10px; color: #4F4F4F;">{{ data.name }}</span></br>
                                    <span style="color: #FF5C3D; ">Rp. {{ data.price|intcomma }}</span>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
