{% extends "bare_bones.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
	 <script type="text/javascript">
		  function show_current_data(){
                var status = $('#id_status').val()
                var title = $('#id_edit_name').val()
                var content = $('#id_edit_description').val()
                var sub_category = $('#id_edit_sub_category').val()
                var price = $('#id_edit_price').val()
			
            if (status == 'Edit Sepatu') {
                $('#id_name').val(title)
                $('#id_description').val(content)
                $('#id_sub_category').val(sub_category)
                $('#id_price').val(price)
            }
         }
		
		$(document).ready(function(){
			show_current_data()
        });
        
	</script>
{% endblock %}

{% block breadcrumb %}
    <div class="toolbar">
       <div class="span-9 left breadcrumb">
           <a href='{% url dashboard %}'> Beranda </a>
           <img src="/mautauaja/static/icons/left.png" style="width: 10px; height: 10px;">
           {{ title }}
       </div>
    </div>
{% endblock %}

{% block body %}
	 <div class="items_content">
		  <input type = 'hidden' id="id_status" value="{{ title }}">
		  <input type = 'hidden' id="id_edit_name" value="{{ edit_data.name }}">
		  <input type = 'hidden' id="id_edit_description" value="{{ edit_data.description }}">
		  <input type = 'hidden' id="id_edit_sub_category" value="{{ edit_data.subcategory.id }}">
          <input type = 'hidden' id="id_edit_price" value="{{ edit_data.price }}">

		  <br/>
		  <h3 class="thin">Add New Item </h3>

		  <form enctype="multipart/form-data" method="POST" action=".">
			  <table id="id_price_table">
					<tr>
					  <td>{{ form.as_p }}</td>
					</tr>
				  
				  <tr>
					  <td colspan="2">
						  <div>
							  <input type='submit' value='Ok'>
							  <a href="{% url dashboard %}"><input type="button" class="button" value="Cancel"></a>
						  </div>
					  </td>
				  </tr>
			  </table>
		  </form>
	 </div>
{% endblock %}