{% extends "bare_bones.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
	 <script type="text/javascript">
		  function show_current_data(){
			var status = $('#id_status').val()
			var title = $('#id_edit_name').val()
			var content = $('#id_edit_description').val()
            var category = $('#id_edit_category').val()
			
            if (status == 'Edit Items') {
               $('#id_name').val(title)
               $('#id_description').val(content)
               $('#id_category').val(category)
            }
         }
		
		$(document).ready(function(){
			show_current_data()
        });
        
	</script>
{% endblock %}

{% block breadcrumb %}
    <div class="toolbar">
       <div class="span-9 left breadcrumb">
           <a href='{% url dashboard %}'> Dashboard </a>
           <img src="/mautauaja/static/icons/left.png" style="width: 10px; height: 10px;">
           {{ title }}
       </div>
    </div>
{% endblock %}

{% block body %}
   <input type = 'hidden' id="id_status" value="{{ title }}">
   <input type = 'hidden' id="id_edit_name" value="{{ edit_data.name }}">
   <input type = 'hidden' id="id_edit_description" value="{{ edit_data.description }}">
   <input type = 'hidden' id="id_edit_category" value="{{ edit_data.category.id }}">
   
   <h3 class="thin">Add New Item</h3>
   
    <div class="items_content" style="padding-top: 15%">
        <form enctype="multipart/form-data" method="POST" action=".">
            <table id="id_price_table">
                  <tr>
                    <td>{{ form.as_p }}</td>
                  </tr>
                
                <tr>
                    <td colspan="2">
                        <div>
                            <input type='submit' value='Ok'>
                            <a href="{% url dashboard %}"><input type="button" class="button" value="Cancel"></a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        
    </div>
{% endblock %}