{% extends "base_login.html" %}


{% block title %}Mau tau aja.com {% endblock %}

{% block head %}
	<link href="/mautauaja/static/css/login-box.css" rel="stylesheet" type="text/css" />
	
	<style  type="text/css">
        #id_login-box {
			margin-left: 10%;
			padding-bottom: 18%;
			font: 12px Arial, Helvetica, sans-serif;
			color: #ebebeb;
			background: url(/mautauaja/static/assets/login_box.png) no-repeat left top;
		}
		
		#id_username, #id_password{
			width: 330px;
			height: 40px;
			box-shadow: 3px 2px 2px #888888;
		}
	</style>
    
{% endblock %}

{% block body %}
	<form method="post">
	    <div style="padding: 100px 0 0 250px;">
			<div id="id_login-box">
				<div style="margin-left: 8%; padding-top: 8%;">
					<h1>Login</h1>
					Please input your username and password <br/><br/><br/>
					
					<div style="margin-left: 35%">
						<a href="{% url register %}" style="color: white; text-decoration:none">Register</a>
					</div>
					
					<table>
						<tr>
							<td style="padding: 5px;" colspan="2">{{form.username}}</td>
						</tr>
						<tr>
							<td style="padding: 5px;" colspan="2">{{form.password}}</td>
						</tr>
						<tr>
							<td>
								<div style="margin-left: 8%; padding: 10px;">
									<INPUT TYPE="image" SRC="/mautauaja/static/assets/login-button.png">
									<a href="{% url dashboard %}"><img SRC="/mautauaja/static/assets/button-mautau.png"></a>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</form>
{% endblock %}