{% extends "base_login.html" %}


{% block title %}Kira Developer {% endblock %}

{% block head %}
	<link href="/mautauaja/static/css/login-box.css" rel="stylesheet" type="text/css" />
	
	<style  type="text/css">
        #id_login-box {
			margin-left: 12%;
			padding-bottom: 18%;
			font: 12px Arial, Helvetica, sans-serif;
			color: #ebebeb;
			background: url(/mautauaja/static/assets/login_box.png) no-repeat left top;
		}
		
		#id_username, #id_password{
			width: 320px;
			height: 40px;
			box-shadow: 3px 2px 2px #888888;
		}
	</style>
    
{% endblock %}

{% block body %}
	<form method="post">
	    <div style="padding: 100px 0 0 250px;">
			<div id="id_login-box">
				<div style="margin-left: 10%; padding-top: 8%;">
					<h1>Login</h1>
					Please input your username and password <br/><br/><br/>
					
					<table>
						<tr>
							<td style="padding: 5px;">{{form.username}}</td>
						</tr>
						<tr>
							<td style="padding: 5px;">{{form.password}}</td>
						</tr>
						<tr>
							<td>
								<div style="float: right">
									<INPUT TYPE="image" SRC="/mautauaja/static/assets/login-button.png">
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</form>
{% endblock %}