{% extends "bare_bones.html" %}

{% block title %}
    News Detail
{% endblock %}
        
{% block body %}
   
   {% include "items/tab_menu.html" %}
   
    <div class="news_content">
         <div class="span-9 left breadcrumb">
            <a href='{% url dashboard %}'> Beranda </a>
            <img src="/mautauaja/static/icons/left.png" style="width: 10px; height: 10px;">
            {{ news.title|slice:":50" }}
        </div>
      
      
        <div style="margin-top: 50px;">
            {{ news.date_created|date:"d M Y H:m a "}} <br/><br/>
            <span class="news_title">{{ news.title }}</span><br/><br/><br/><br/>
            Ditulis Oleh : {{ news.user }} - Toko Sepatu
        </div><br/>
        
        <table>
            <tr>
                <td>
                    <img src="/mautauaja/display_img/{{ news.picture }}" style="width: 600px; height: 300px;">
                </td>
            </tr>
            <tr>
                <td style="width: 120px; padding: 10px;">
                    {{ news.content|linebreaksbr }}
                    
                </td>
            </tr>    
        </table>
        
        <span style="font-size: small; font-family: sans-serif; color: whitesmoke;"><b>Baca juga : </b></span>
        {% for zulu in others %}
            <table style="width: 100%; margin: 3px; text-decoration:none;">
                <tr>
                    <td style="border: 1px solid grey; text-decoration:none;">
                        <a href="{% url news_details zulu.id %}">
                            <img src="/mautauaja/static/icons/left.png" style="width: 10px; height: 10px; text-decoration:none;">
                            {{ zulu.title }}
                        </a>
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>
{% endblock %}