<table>
    <tr>
        <td style="border: none; width: 30%;">
            <table>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <span style="color: white; font-size: small">{{ items.name }}</span>
                    </td>
                </tr>
                <tr>
                    <td  style="color: white">
                        <img src="/mautauaja/display_img/{{ items.picture }}" style="width: 250px; height: 250px;">
                    </td>
                    <td  style="color: white">
                         <label>Kategori </label>: &nbsp; {{ items.category }}<br/><br/>
                         <label>Harga </label>: &nbsp; Rp. {{ items.price}}<br/><br/>
                         <label>Penjual </label>: &nbsp;{{ items.store.store_name}}<br/><br/>
                         <label>Rating Penjual </label>:
                            {% ifequal items.store.store_rating 1 %}
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                            {% endifequal %}

                            {% ifequal items.store.store_rating 2 %}
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                            {% endifequal %}

                            {% ifequal items.store.store_rating 3 %}
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                            {% endifequal %}

                            {% ifequal items.store.store_rating 4 %}
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                            {% endifequal %}

                            {% ifequal items.store.store_rating 5 %}
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                            {% endifequal %}


                         <br/><br/>
                         <label>Deskripsi </label><br/><br/>
                         {{ items.description|linebreaksbr }}
                    </td>
                </tr>
            </table>
        </td>
        <td style="border: none; width: 20%;" rowspan="5">
            <table>
                <tr>
                    <td style="border: none">
                        <span style="font-size: medium; font-family: Verdana; color: whitesmoke;"><b>Rekomendasi</b></span>
                    </td>
                </tr>
                {% if others %}
                    {% for zulu in others %}
                        <tr>
                            <td>
                                <a href="{% url item_details zulu.id %}" style="text-decoration: none; color: whitesmoke">
                                    <div>
                                        <img src="/mautauaja/display_img/{{ zulu.picture}}" width="50px" height="50px;"> &nbsp;
                                        {{ zulu.name }}<br/>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>
                            No Item related with same category
                        </td>
                    </tr>
                {% endif %}
            </table>
        </td>
    </tr>
</table>