{% load humanize %}

<table>
    <tr>
        <td style="border: none; width: 30%;">
            <table style="border: 2px solid #68B3AF">
                <tr>
                    <td colspan="2" style="text-align: center">
                        <span style="color: #fa8b60; font-size: medium">{{ items.name }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/mautauaja/display_img/{{ items.picture }}" style="width: 250px; height: 250px;">
                    </td>
                    <td style="color: #381f25; font-size: 12px;">
                         <br>
                         <label>Harga : </label>IDR {{ items.price|intcomma}}<br>
                         <label></label>PTS {{ items.point|intcomma}}<br/><br/>
{#                         <label>Penjual : </label>{{ items.users.email }}<br/><br/>#}
                         <label>Rating Barang : </label>
                            {% ifequal items.store.store_rating 1 %}
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                            {% endifequal %}

                            {% ifequal items.store.store_rating 2 %}
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                            {% endifequal %}

                            {% ifequal items.store.store_rating 3 %}
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                            {% endifequal %}

                            {% ifequal items.store.store_rating 4 %}
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                            {% endifequal %}

                            {% ifequal items.store.store_rating 5 %}
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                 <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                            {% endifequal %}


                         <br/><br/>
                         <label>Deskripsi </label><br/><br/>
                         {{ items.description|linebreaksbr }}
                    </td>
                </tr>
            </table>
        </td>
        <td style="border: none; width: 15%;" rowspan="5">
            <table>
                <tr>
                    <td style="border: none">
                        <span style="font-size: medium; font-family: Verdana; color: #fa8b60;"><b>Rekomendasi</b></span>
                    </td>
                </tr>

                {% if others %}
                    {% for zulu in others %}
                      <tr style="border: 2px solid #ECE2BF">
                            <td style="border-right: none; background-color: white; text-align: center">
                                <a href="{% url item_details zulu.id %}" style="text-decoration: none; color: whitesmoke; align: center">
                                    <img src="/mautauaja/display_img/{{ zulu.picture}}" width="120px" height="80px;">
                                </a>
                            </td>
                            <td style="border-left: none; font-size: 12px; text-align: left; color: black; background-color: white">
                                {{ zulu.name }}<br/><br/>
                                <p style="color: #fa8b60">IDR {{ zulu.price|intcomma }}</p>
                            </td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td>
                            No Item related with same category
                        </td>
                    </tr>
                {% endif %}
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; border: none;">
            {% if user.id %}
                <a href="{% url checkout_temp items.id %}" class="btn_beli" style="color: white; font-size: 18px;"> &nbsp;&nbsp; Beli &nbsp;&nbsp;  </a>
            {% else %}
                <a href="{% url user_login %}" class="btn_beli" style="color: white; font-size: 18px;"> &nbsp;&nbsp; Beli &nbsp;&nbsp;  </a>
            {% endif %}
        </td>
    </tr>
</table>
