{% extends "bare_bones.html" %}

{% block title %}
    News Detail
{% endblock %}

{% block breadcrumb %}
    <div class="toolbar">
       <div class="span-9 left breadcrumb">
           <a href='{% url dashboard %}'> Dashboard </a>
           <img src="/mautauaja/static/icons/left.png" style="width: 10px; height: 10px;">
           {{ items.name|slice:":50" }}
       </div>
    </div>
{% endblock %}

{% block body %}
    <div class="items_content" style="padding-top: 15%">
         {% include "items/general_file.html" %}
        
        <table style="width: 100%; margin: 3px;">
            <tr>
                  <td style="border: none; width: 30%">
                     <img src="/mautauaja/static/icons/left.png" style="width: 10px; height: 10px;">Questions
                     
                     {% if user.is_authenticated %}
                        <div style="margin-left: 65%">
                           <a href="{% url pop_questions %}"> Add questions ? </a>   
                        </div>
                     {% endif %}
                     
                     <table id="id_question_tab">
                        {% if question %}
                           {% for q in question %}
                              <tr>
                                    <td style="border: none;">
                                       <div class="ballon_question">
                                          {{ q.user }} : {{ q.question }}<br/>
                                          {% if user.is_authenticated %}
                                             <a href="{% url pop_answers q.id %}" style="margin-left: 80%; color: white"> Answers </a>
                                          {% endif %}
                                           
                                       </div>
                                       {% if q.answers %}
                                          {% for z in q.answers %}
                                             <div class="ballon_answers">
                                                {{ z.user }} : {{ z.answer }}<br/>
                                             </div>      
                                          {% endfor %}
                                       {% endif %}
                                    </td>
                               </tr>
                           {% endfor %}
                        {% else %}
                           <tr>
                              <td style="border: none">
                                 <div class="ballon_question">
                                    No Questions
                                 </div>
                              </td>
                           </tr>
                        {% endif %}
                     </table>
                  </td>
                  
                  
                  <td style="border: none; width: 30%">
                     <img src="/mautauaja/static/icons/left.png" style="width: 10px; height: 10px;">
                     Price Rate
                     
                     {% if user.is_authenticated %}
                        <div style="margin-left: 65%">
                           <a href="{% url pop_price %}"> Add price </a>   
                        </div>
                     {% endif %}
                     
                     <table id="id_question_tab">
                        {% if price_list %}
                           {% for izu in price_list %}
                              <tr>
                                    <td style="border: none;">
                                       <div class="ballon_question">
                                          {{ izu.user }} : Rp.{{ izu.price }}
                                          {% ifequal izu.rate 1 %}
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                          {% endifequal %}
                                          
                                          {% ifequal izu.rate 2 %}
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                          {% endifequal %}
                                          
                                          {% ifequal izu.rate 3 %}
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                          {% endifequal %}
                                          
                                          {% ifequal izu.rate 4 %}
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                          {% endifequal %}
                                          
                                          {% ifequal izu.rate 5 %}
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                          {% endifequal %}
                                          <br>
                                          quote : {{ izu.comment }}<br/>
                                       </div>
                                    </td>
                               </tr>
                           {% endfor %}
                        {% else %}
                           <tr>
                              <td style="border: none">
                                 <div class="ballon_question">
                                    No Price Rate
                                 </div>
                              </td>
                           </tr>
                        {% endif %}
                     </table>
                  
                  </td>
                  
                  <td style="border: none; width: 40%">
                     <img src="/mautauaja/static/icons/left.png" style="width: 10px; height: 10px;">
                     Store Rate
                     
                     {% if user.is_authenticated %}
                        <div style="margin-left: 65%">
                           <a href="{% url pop_store %}"> Add store </a>   
                        </div>
                     {% endif %}
                     
                     <table id="id_question_tab">
                        {% if items.get_store_list %}
                           {% for ol in items.get_store_list %}
                              <tr>
                                 <td style="border: none;">
                                    <div class="ballon_store" style="margin-bottom: 2px;">
                                       <table>
                                          <tr>
                                             <td style="border: none; color: white; width:10px;">
                                                <img src="/mautauaja/display_img/{{ ol.store_photo}}" style="width: 40px; height: 40px;"> &nbsp;
                                             </td>
                                             <td style="border: none; color: white;">
                                                <span>Name : {{ ol.store_name }}</span><br/>
                                                <span>{{ ol.store_name|slice:":20" }}</span><br/>
                                                
                                                {% if user.is_authenticated %}
                                                   <a href="{% url store_rate ol.id %}" style="margin-left: 60%; color: yellow"> Store Rate </a>
                                                {% endif %}
                                             </td>
                                          </tr>
                                       </table>
                                    </div>
                                    
                                    {% if ol.get_store_rate %}
                                       {% for px in ol.get_store_rate %}
                                          <div class="ballon_answers">
                                             {{ px.user }} :
                                             
                                             {% ifequal px.rate 1 %}
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                          {% endifequal %}
                                          
                                          {% ifequal px.rate 2 %}
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                          {% endifequal %}
                                          
                                          {% ifequal px.rate 3 %}
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                          {% endifequal %}
                                          
                                          {% ifequal px.rate 4 %}
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                          {% endifequal %}
                                          
                                          {% ifequal px.rate 5 %}
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                             <img src="/mautauaja/static/assets/star.png" style="width: 10px; height: 10px;">
                                          {% endifequal %}
                                          <br>
                                             
                                             {{ px.comment }}
                                          </div>
                                       {% endfor %}
                                    {% endif %}
                                 </td>
                              </tr>
                           {% endfor %}
                        {% else %}
                           <tr>
                              <td style="border: none">
                                 <div class="ballon_question">
                                    No Store related with Item 
                                 </div>
                              </td>
                           </tr>
                        {% endif %}
                     </table>
                     
                  </td>
               </tr>
        </table>
    </div>
{% endblock %}