{% extends "bare_bones.html" %}
{% load humanize %}

{% block title %}
   Checkout
{% endblock %}


{% block body %}
    {% include "items/tab_menu.html" %}
    <div class="items_content">
        <a href="{% url dashboard %}"> << Beranda </a> <br><br>
        <table style="width: 100%;">
            <tr>
                <td style="width: 20%">
                    <img src="/mautauaja/display_img/{{ profile.photo}}" width="280px" height="280px;" align="">
                </td>
                <td style="width: 80%; padding: 10px">
                    <label>Nama</label> {{ user.first_name }} {{ user.last_name }}<br><br>
                    <label>Username</label> {{ user.username }}<br><br>
                    <label>Password</label> ******* <br><br>
                    <label>Email</label> {{ user.email }}<br><br>
                    <label>Point</label> {{ profile.point }} Point<br><br>
                    <hr>
                    <label>Bergabung</label> {{ user.date_joined|date:"Y-m-d H:m"}}<br><br>
                    <label>Login Terakhir</label> {{ user.last_login|date:"Y-m-d H:m"}}<br><br>
                    <hr>
                </td>
            </tr>
        </table>
        <br><br>
        <span>Daftar Belanja<span>
        <hr>
        <br>

        <table style="width: 100%;">
            <tr style="color: black;">
                <th style="text-align: center">OrderId</th>
                <th style="text-align: center">Tanggal</th>
                <th style="text-align: center">Item</th>
                <th style="text-align: center">Pembayaran</th>
                <th style="text-align: center">Total</th>
                <th style="text-align: center">Status</th>

            </tr>
            {% if order %}
                {% for data in order %}
                    <tr>
                    <td><a href="{% url detail_order_profile data.id %}">{{ data.order_number }}</a></td>
                    <td>{{ data.purchase_date|date:"Y-m-d H:m"}}</td>
                    <td>{{ data.items.name }}</td>
                    <td>{{ data.payment.name }}</td>
                    <td>{{ data.payment.payment_currency}} {{ data.total_price|intcomma }}</td>
                    <td>
                        {% ifequal data.order_status "waiting" %}
                            <span style="color: orangered">Menunggu Bayar</span>
                        {% else %}
                            <span style="color: greenyellow">Selesai</span>
                        {% endifequal %}
                    </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6"> Tidak Ada Transaksi</td>
                </tr>
            {% endif %}

        </table>

    </div>
{% endblock %}