{% extends "bare_bones.html" %}

{% block title %}
    Store
{% endblock %}

{% block breadcrumb %}
    <div class="toolbar">
       <div class="span-9 left breadcrumb">
           <a href='{% url item_details items.id  %}'> {{ items.name }} </a>
           <img src="/mautauaja/static/icons/left.png" style="width: 10px; height: 10px;">
           {{ store.store_name|upper|slice:":50" }}
       </div>
    </div>
{% endblock %}

{% block head %}
    <style type="text/css">
        #id_price_table{
            width: 100px;
        }
        
        #id_price_table tr td{
            border: none;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="items_content" style="padding-top: 15%">
        <table >
            <tr>
                <td style="border: none; width: 30%;">
                    <table>
                        <tr>
                            <td colspan="2" style="text-align: center">
                                {{ store.store_name|upper }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/mautauaja/display_img/{{ store.store_photo }}" style="width: 200px; height: 200px;">
                            </td>
                            <td>
                                 <label>Address </label>: &nbsp; {{ store.store_address  }}<br/><br/>
                                 <label>City </label>: &nbsp; {{ store.store_city  }}<br/><br/>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="border: none; width: 20%;" rowspan="5">
                    <table>
                        <tr>
                            <td style="border: none">
                                <span style="font-size: 12px; font-family: sans-serif; color: red;"><b>Other Items </b></span>
                            </td>
                        </tr>
                        {% for zulu in others %}
                            <tr>
                                <td>
                                    <a href="{% url item_details zulu.id %}" style="text-decoration: none; color: blue">
                                        <div>
                                            <img src="/mautauaja/display_img/{{ zulu.picture}}" width="50px" height="50px;"> &nbsp;
                                            {{ zulu.name }}<br/>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        
        <img src="/mautauaja/static/icons/left.png" style="width: 10px; height: 10px;">
        Store Rate<br><br>
        
        <form method="POST">
            <table id="id_price_table">
                <tr>
                    <td>
                        <label>Comment : </label>
                    </td>
                    <td>{{ form.comment }}</td>
                </tr>
                
                <tr>
                    <td>
                        <label>Rate : </label>
                    </td>
                    <td>{{ form.rate }}</td>
                </tr>
                
                <tr>
                    <td>
                        <input type='submit' value='Ok'>
                        <a href="{% url item_details items.id  %}"><input type="button" class="button" value="Cancel"></a>
                    </td>
                </tr>
            </table>
        </form>
            
    </div>
{% endblock %}