{#<a onclick="showQuestion();">#}
{#    <img src="/mautauaja/static/icons/left.png" style="width: 15px; height: 10px;"> &nbsp; Forum#}
{#</a><br/><br/>#}

<table style="width: 100%; padding:  20px;" id="id_question_table">
<form method="POST">
   <tr>
      {% if user.is_authenticated %}
         <td style="background-color: #768BB7">
            {{ form_questions.questions }}
            <input type='submit' class="button" value='Post Comment'>
         </td>
      {% endif %}
   </tr>
   <tr>
      <td style="border: none">
          
      </td>
  </tr>
</form>

{% if question %}
   {% for q in question %}
      <tr>
         <td style="background-color: #2D5381; color: white; border: 2px solid #EDEFF4;">
            <span style="float: right">{{ q.date|date:"d M Y" }}</span><br>
               <table style="width: 100%">
                  <tr>
                     <td style="border: none; width: 5%">
                        {% if q.photo %}
                           <img src="/mautauaja/display_img/{{ q.photo }}" style="width: 50px; height: 50px;">
                        {% else %}
                           <div style="border: 1px solid black; background-color: grey; width: 40px; height: 40px; color: white; text-align: center">
                              NO IMAGE
                           </div>
                        {% endif %}
                     </td>
                     <td style="border: none; color: white; font-size: small; width: 90%;">
                        {{ q.user }} :
                         {{q.question}}
                     </td>
                  </tr>
               </table>
         </td> 
      </tr>

      {% if q.answers %}
         {% for z in q.answers %}
            <tr>
               <td style="border: none">
                  <div class="ballon_question" style="width: 90%; float: right">
                     <table style="width: 100%">
                        <tr>
                           <td style="border: none; width: 5%">
                              {% if z.photo %}
                                 <img src="/mautauaja/display_img/{{ z.photo }}" style="width: 40px; height: 40px;">
                              {% else %}
                                 <div style="border: 1px solid black; background-color: grey; width: 40px; height: 40px; color: white; text-align: center">
                                    NO IMAGE
                                 </div>
                              {% endif %}
                           </td>
                           <td style="border: none; color: black; font-size: small; width: 80%;">
                              {{ z.user }} : {{ z.answer}}
                           </td>
{#                           {% if user.is_superuser %}#}
{#                              <td style="border: none; >#}
{#                                 <span style="float: right">{{ form_comment.setcomment }}</span>#}
{#                              </td>#}
{#                           {% endif %}#}
                        </tr>
                     </table>
                  </div>
               </td>
            </tr>
         {% endfor %}
      {% endif %}
      <form method="POST">
            {% if user.is_authenticated %}
               <tr>
                  <td style="border: none">
                     <input id="id_answer_{{ q.id }}" value="{{ data.is_active }}" style="width: 93%; height: 30px; float: right">
                  </td>
               <tr>
            
               <tr>
                  <td style="border: none">
                     <div  style="margin-left: 7%">
                     <a onclick="showAnswer({{ q.id }});" class="button">Post Reply </a>
                     </div>
                  </td>
               <tr>
         {% endif %}
      </form>
   {% endfor %}
{% endif %}
</table>